@import '../../styles/themes';

.tecnologieTagStructure {
  display: flex;
  justify-content: center;
  background-color: none;
  color: $light-100;
  border: 1px solid $light-100;
  font-size: clamp(1.0rem, 4vw, 1.2rem);
  font-weight: 400;
  border-radius: 5px;
  padding: .5rem 1.0rem;
  
  &--green {
    display: flex;
    justify-content: center;
    background-color: $green-200;
    color: $dark-200;
    font-size: clamp(1.0rem, 4vw, 1.2rem);
    font-weight: 400;
    border-radius: 5px;
    padding: .5rem 1.0rem;
  }
}