// _color-palete

$light-100: #7a7a7a;
$light-200: #E1E1E6;
$light-300: #fff;

$green-100: #168684;
$green-100-transparent: var(--Green100-transparent, rgba(22, 134, 132, 0.50));
$green-200: #0CBAB4;
$green-300: #00FFFB;

$dark-100: #000;
$dark-200: #060C1F;
$dark-300: #050D24;

$DEVICE_BREAKPOINTS: (
  XS: 320px,
  SM: 425px,
  MD: 912px,
  LG: 1023px,
  XL: 1280px
)