@import '../../styles/themes';

.knowledgeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.0rem;
  max-width: 101.4rem;

  @media screen and (max-width: map-get($DEVICE_BREAKPOINTS, SM)) {
    align-items: flex-start;
  }
}

.knowledgeContent__tecnologies {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.0rem;

  @media screen and (min-width: 360px) and (max-width: 430px){
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
  }
}