@import '../../styles/themes';

.projectsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.0rem;
  max-width: 30.0rem;

  @media screen and (max-width: map-get($DEVICE_BREAKPOINTS, SM)) {
    align-items: flex-start;
  }
}

.projectsContent__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.0rem;
  
  @media screen and (max-width: map-get($DEVICE_BREAKPOINTS, XL)) {
    grid-template-columns: 1fr 1fr;
    gap: clamp(2.0rem, 10vw, 4.0rem);
  }

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
    gap: 3.0rem;
  }
}