@import '../../styles/themes';

.tecnologieIconStructure {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  &:hover {

    .tecnologieIconStructure__ring {
      border: 1px solid $green-300;

      > svg {
        > path {
          fill: $green-300;
        }
      }
    }

    .tecnologieIconStructure__name {
      color: $green-300;
    }
  }

}


.tecnologieIconStructure__ring {
  width: 9.0rem;
  height: 9.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid $green-200;
  border-radius: 50%;
  
  @media screen and (max-width: map-get($DEVICE_BREAKPOINTS, SM)) {
    width: 8.0rem;
    height: 8.0rem;
  }
  
  @media screen and (min-width: 360px) and (max-width: 409px) {
    width: 7.0rem;
    height: 7.0rem;
  }
}

#HTML5, #CSS3 {
  @media screen and (min-width: 360px) and (max-width: 409px) {
    > svg {
      width: 50%;
    }
  }
}


.tecnologieIconStructure__name {
  color: $green-200;
  font-size: clamp(1.2rem, 4vw, 1.4rem);
  font-weight: 500;
  line-height: 15.5px;
  max-width: 7.4rem;
  text-align: center;
}